<div class="buffet">  
  <div class="scroller-left" (mousedown)="startScrollLeft()" (mouseup)="stopScroll()" (dblclick)="scrollLeft()"><i class="glyphicon glyphicon-chevron-left"></i></div>
  <div class="scroller-right" (mousedown)="startScrollRight()" (mouseup)="stopScroll()" (dblclick)="scrollRight()"><i class="glyphicon glyphicon-chevron-right"></i></div>    
  <div class="buffet-outer" #outer>        
    <div class="buffet-inner" #inner>      
      <button class="btn btn-success" data-toggle="tooltip" title="{{node.description}}" style="margin: 3px" *ngFor="let node of repo.nodes" (dragstart)="onDragStart($event,node)" draggable="true">{{node.type}}</button>
    </div>
  </div>
</div>
