<div class="node" 
    data-toggle="tooltip" title="{{descriptor.description}}"
    [style.height]="nodeSize.y + 'px'" 
    [style.top]="pos.y + 'px'" 
    [style.left]="pos.x + 'px'" 
    [style.width]="nodeSize.x + 'px'"
    [style.borderColor]="borderColor()"    
    (positionChange)="onPositionChange($event)"
    (mouseup)="onNodeMouseUp($event)"
    (mousedown)="onNodeMouseDown($event)"
    app-draggable >    
    <div class="node-name" [style.width]="nameSize.x + 'px'" [style.height]="nameSize.y + 'px'"><input type="text" spellcheck="false" (click)="onTitleMouseDown($event)" style="width: 100%; height:100%; border: none;" [(ngModel)]="name"/></div>
    <div class="node-type" [style.width]="typeSize.x + 'px'" [style.height]="typeSize.y + 'px'">{{ descriptor.type }}   <span (click)="openPropertyWidget($event)" class="fa fa-cogs fa-lg"></span></div>    
    <div class="input-terminal" 
    *ngFor="let t of inputs" 
    [style.top]="t.pos.y + 'px'"
    [style.left]="t.pos.x + 'px'"
    [style.height]="terminalSize.y + 'px'"
    [style.width]="terminalSize.x + 'px'"
    (mousedown)="onInputTerminalMouseDown($event,t)" 
    (mouseup)="onInputTerminalMouseUp($event,t)">
    </div>
    <div class="output-terminal" 
    *ngFor="let t of outputs" 
    [style.top]="t.pos.y + 'px'"
    [style.left]="t.pos.x + 'px'"
    [style.height]="terminalSize.y + 'px'"
    [style.width]="terminalSize.x + 'px'"
    (mousedown)="onOutputTerminalMouseDown($event,t)" 
    (mouseup)="onOutputTerminalMouseUp($event,t)">
    </div>    
    <div class="btn-group btn-group-xs" style="position: absolute; left: 10px; top: -15px;" *ngIf="canAddOrRemoveInputTerminal()">
        <button type="button" *ngIf="canAddInputTerminal()" class="btn btn-default btn-xs" (click)="addInputTerminal($event)"><span class="fa fa-plus fa-xs"></span></button>
        <button type="button" *ngIf="canRemoveInputTerminal()" class="btn btn-default btn-xs"(click)="removeInputTerminal($event)" ><span class="fa fa-times fa-xs"></span></button>        
    </div>
    <div class="btn-group btn-group-xs" style="position: absolute; top: -15px; right: 9px;" *ngIf="canAddOrRemoveOutputTerminal()">
        <button type="button" *ngIf="canRemoveOutputTerminal()" class="btn btn-default btn-xs" (click)="removeOutputTerminal($event)"><span class="fa fa-times fa-xs"></span></button>
        <button type="button" *ngIf="canAddOutputTerminal()" class="btn btn-default btn-xs" (click)="addOutputTerminal($event)"><span class="fa fa-plus fa-xs"></span></button>
    </div>
</div>