<div class="row" style="margin-bottom: 10px">
  <div class="col-md-5 text-right">
      <label class="form-label" style="margin-top: 7px;">{{property.protoText}}</label>
  </div>
  <div class="col-md-7 text-left" >
    <div class="input-group" style="margin-right: 10px;">
      <input *ngIf="isText()" type="text" class="form-control" [(ngModel)]="property.value" [attr.placeholder]="placeHolder()">
      <input *ngIf="isNumber()" type="number" class="form-control" [attr.min]="hasMinimum()?minimum():null" [(ngModel)]="property.value" [attr.placeholder]="placeHolder()">
      <label *ngIf="isBool()"><input type="checkbox" style="width: 24px; height: 24px;" [(ngModel)]="property.value"></label>
      <select *ngIf="isOption()" class="form-control" [(ngModel)]="property.value">
        <option [value]="item" *ngFor="let item of property.options">{{item}}</option>
      </select>        
      <span *ngIf="(property.description!='') && isBool()==false" class="input-group-addon" [attr.title]="property.description"><span class="fa fa-question-circle fa-lg"></span></span>
    </div>
  </div>
</div>